<div class="row">
 <div class="page-title col-xs-6 col-sm-6 col-md-6">Requisitions</div>
  <div class="row col-xs-5 col-sm-5 col-md-3 form-group">
    <input class="form-control search col-md-8 col-sm-8 col-xs-8" placeholder="Search" name="search" type="search" value="<%= query %>" />
    <div class="input-group-btn display-inherit">
    <button class="btnSearch btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped pagination rms-table requisition-table" >
  	<thead>
      <th>Requisition Number</th>
  		<th>Recruiter Name</th>
      <th>Title</th>
      <th>Service Line</th>
  	</thead>
    <% _.each(requisitions, function(requisition) {
    	
    %>
    <tr class="tab-row requisition-tr">
	    <td><%= requisition.requisitionNo %> <span hidden="true"><%= requisition.id %></span></td>
	    <td><%= requisition.recruiterName %></td>
      <td><%= requisition.title %></td>
      <td><%= requisition.serviceLineDesc %></td>
    </tr>
    <% }) %>
  </table>
  <ul class="pagination requisition">
  	<% for(var i=0;i<pages;i++) {%>
      <li <%  if (i == currentPage) {%>class="active"<%}%> class="paginate"><a href="#requisition"><%= i+1 %></a></li>
    <% } %>
  </ul>
</div>
			