<ul class="nav">
    <!-- Main menu -->
    <li><a href="index.html"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
    <li><a href="#requisition"><i class="glyphicon glyphicon-home"></i> Requisition</a></li>
    <li><a href="#upload"><i class="glyphicon glyphicon-upload"></i>Upoload</a></li>
    <li><a href="#calendar"><i class="glyphicon glyphicon-calendar"></i> Calendar</a></li>
    <li><a href="#tables"><i class="glyphicon glyphicon-list"></i> Tables</a></li>
    <li><a href="#editors"><i class="glyphicon glyphicon-pencil"></i> Editors</a></li>
    <li class="submenu">
         <a href="#">
            <i class="glyphicon glyphicon-list"></i> Pages
            <span class="caret pull-right"></span>
         </a>
         <!-- Sub menu -->
         <ul>
            <li><a href="login.html">Login</a></li>
            <li><a href="signup.html">Signup</a></li>
        </ul>
    </li>
</ul>