<div class="row">
  <div class="col-md-6">
	<div class="h3" style="margin-bottom: 40px;">Upload Referrals</div>
	   <div id="uploadErrorAlert" class="alert alert-danger alert-dismissable fade">'+
	    <button type="button" class="close">&times;</button>
	    <strong>Alert!</strong> Error while uploading <p class="uploadError"></p><p class="uploadErrorIds"></p>
	   </div>
	   <form enctype="multipart/form-data">
	    <div class="form-group">
	     <span class="glyphicon glyphicon-upload"></span>
	      <label for="exportedData">Upload Exported Data</label>
	      <input class="form-control" name="exports" type="file" />	
	    </div>
	    <div class="form-group">
	      <span class="glyphicon glyphicon-upload"></span> 
	      <label for="email">Upload Resumes (Zip)</label>
	      <input class="form-control" name="resume" type="file" />
	    </div>					 	
	    <button id="upload" type="button" class="btn btn-primary">Submit</button>
	    </form>
    </div>
  </div>
</div>